* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-text: #e4e4e9;
  --color-border: #cdcbc8;
  --color-textOffset: #94a1b2;
  --color-background: #190c03;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.hero {
  height: 100vh;
  width: 100%;
  background: url("/images/hero-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-hiker-box {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 100%;
}
.hero-hiker {
  height: 80%;
  filter: opacity(0.8);
}
.hero__content {
  padding-top: 150px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__text {
  color: var(--color-text);
  font-size: 28px;
  text-align: center;
  border-bottom: 2px solid var(--color-border);
  margin-bottom: 50px;
}
.hero__text p {
  margin-bottom: 20px;
}
.cta {
  text-decoration: none;
  color: var(--color-background);
  background: #e4e4e9;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  padding: 10px;
}
/* Professionals section */

.professionals {
  background: url("/images/professionals-background.png");
  background-size: cover;
  background-position: center center;
  padding: 5rem 0;
}
.section-title {
  text-align: center;
  color: var(--color-text);
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 65px;
}
.pro-cards {
  display: flex;
  justify-content: space-around;
}
.card {
  max-width: 300px;
  width: 100%;
}
.card__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.card__image img {
  max-width: 250px;
}

.card__image p {
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  border-radius: 10px;
  padding: 0.1rem 1rem;
  position: absolute;
  width: fit-content;
  text-align: center;
  bottom: 0;
  color: var(--color-textOffset);
  z-index: 10;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.card__list {
  list-style: none;
  color: var(--color-text);
  margin-bottom: 20px;
  font-size: 18px;
}
.card__list li {
  margin-bottom: 15px;
}
.card__email {
  text-align: center;
  color: var(--color-textOffset);
  font-size: 18px;
}
